body{
  background-color: #e5e1e1;
}

.form-control:hover{
  background-color: #e6f7ff;
  border: 3px solid whitesmoke;
}

div.polaroid {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.shadow{
  border: 3px solid whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*div.container {*/
/*  text-align: center;*/
/*  padding: 10px 20px;*/
/*}*/



.right-text {
  text-align: right;
}

.img-link {
  opacity: 0.5;
}

.img-link:hover {
  opacity: 1.0;
}

.text-container {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 1000;
  font-size: xx-large;
  color: #1b1e21;
}


.center {
  margin: auto;
  width: 50%;
  border: 3px solid whitesmoke;
  padding: 10px;
}

.center2 {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.center1 {
  margin: auto;
  padding: 10px;
}

.line:hover {
  background-color: #e6f7ff;
}

* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.img-container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: 100%;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:1;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

 /*When you mouse over the container, fade in the overlay title */
.img-container:hover {
  transform: scale(1.2);
}

p {
  font-family: Calibri;
}

h1{
  color: #2C2C2C;
}




